<section class=" container-fluid">
    <div class="d-flex flex-column ">
    <h1> Recipe Food collection</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Vestibulum non dui sit amet elit pretium eleifend. 
    Suspendisse metus era</p>

    </div>
    <div class="ctn-banner"> 
        
    </div>
</section>