<section class=" container ctn-session">

    <div class="ctn-text ">
    <h1 class="head-text"> <Recipe Food collections</h1>
    <p class="b-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Vestibulum non dui sit amet elit pretium eleifend. 
    Suspendisse metus era</p>
    </div>

    <div class="ctn-banner"> 
        <%= image_tag "bg.png", height: 350  %>
    </div>
</section>
