* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  background-color: bisque;
}

.btn-food {
  /* display: flex !important;
  justify-content: flex-end !important;
  width: fit-content !important; */
  align-items: end !important;
}